/* global */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 55%;
    margin: 0 auto;
    height: 100%;
}

.light-blue{
    background-color: #abcfe7;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.grey-text {
    color: #979797;
}

.text {
    font-size: 0.8em;
    display: inline-block;
}

.opacity {
    background-color: #99989891;
}

.opacity {
    background-color: #99989860;
}

.center {
    background-position: center;
    background-size: cover;
}

/* global */




/* margin top */

.mt-1 {
    margin-top: 0.5em;
}

.mt-2 {
    margin-top: 1em;
}

.mt-3 {
    margin-top: 1.5em;
}

.mt-4 {
    margin-top: 2em;
}

.mt-5 {
    margin-top: 2.5em;
}

.mt-6 {
    margin-top: 3em;
}

/* margin top */




/* margin left */

.ml-1 {
    margin-left: 0.5em;
}

.ml-2 {
    margin-left: 1em;
}

.ml-3 {
    margin-left: 1.5em;
}

.ml-4 {
    margin-left: 2em;
}

.ml-5 {
    margin-left: 2.5em;
}

.ml-6 {
    margin-left: 3em;
}

/* margin left */




/* margin right */

.mr-1 {
    margin-right: 0.5em;
}

.mr-2 {
    margin-right: 1em;
}

.mr-3 {
    margin-right: 1.5em;
}

.mr-4 {
    margin-right: 2em;
}

.mr-5 {
    margin-right: 2.5em;
}

.mr-6 {
    margin-right: 3em;
}

/* margin right */




/* margin bottom */

.mb-1 {
    margin-bottom: 0.5em;
}

.mb-2 {
    margin-bottom: 1em;
}

.mb-3 {
    margin-bottom: 1.5em;
}

.mb-4 {
    margin-bottom: 2em;
}

.mb-5 {
    margin-bottom: 2.5em;
}

.mb-6 {
    margin-bottom: 3em;
}

/* margin bottom */




/* float */

.fl {
    float: left;
}

.fr {
    float: right;
}

/* float */


/* nav */

header{
    padding-bottom: 7em;
}

.header {
    height: 6em;
}

.logo {
    height: 4em;
    border-right: 1px solid black;
    padding-right: 1em;
}

.white-text {
    color: #ffffff;
}

.option {
    display: inline-block;
    list-style-type: none;
    text-decoration: none;
}
 

/* nav */



/* carusel */

.carusel {
    border-radius: 25px;
    height: 20em;
}

.image {
    background-image: url(../img/banner.jpg);
}

.text-pg h2 {
    font-size: 1.2em;
    padding-top: 9em;
}

.text-pg p {
    font-size: 0.8em;
    
}

/* carusel */



/* layout */

.layout{
    height: 35em;
}

.row{
    height: 4em;
}

.row h1, .row h2{
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.row p{
    margin-top: em;
}

.column-left {
    width: 20%;
    height: 29.5em;
}

.column-right {
    width: 20%;
    height: 29.5em;
}

.column-mid {
    width: calc(60% - 2em);
    height: 29.5em;
}

/* layout */



/* small image */

.box {
    border-radius: 20px;
    height: 9.5em;
}

.box-left {
    background-image: url(../img/img-1.jpg);
}

.box-mid {
    background-image: url(../img/banner-2.jpg);
}

.box-right {
    background-image: url(../img/img-3.jpg);
}

/* small image */



/* footer */
.foot {
    height: 2em;
}

.foot p {
    font-size: 0.8em;
    text-align: center;
}

p span{
    color: red;
}

/* footer */