/* global */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    height: 100%;
}

.light-blue{
    background-color: #abcfe7;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

h2 {
    font-size: 0.8em;
    display: inline-block;
}

/* global */




/* margin top */

.mt-1 {
    margin-top: 0.5em;
}

.mt-2 {
    margin-top: 1em;
}

.mt-3 {
    margin-top: 1.5em;
}

.mt-4 {
    margin-top: 2em;
}

/* margin top */




/* margin left */

.ml-1 {
    margin-left: 0.5em;
}

.ml-2 {
    margin-left: 1em;
}

.ml-3 {
    margin-left: 1.5em;
}

.ml-4 {
    margin-left: 2em;
}

/* margin left */




/* margin right */

.mr-1 {
    margin-right: 0.5em;
}

.mr-2 {
    margin-right: 1em;
}

.mr-3 {
    margin-right: 1.5em;
}

.mr-4 {
    margin-right: 2em;
}

/* margin right */




/* margin bottom */

.mb-1 {
    margin-bottom: 0.5em;
}

.mb-2 {
    margin-bottom: 1em;
}

.mb-3 {
    margin-bottom: 1.5em;
}

.mb-4 {
    margin-bottom: 2em;
}

/* margin bottom */




/* float */

.fl {
    float: left;
}

.fr {
    float: right;
}

/* float */


/* nav */

.header {
    height: 6em;
}

.logo {
    height: 4em;
    border-right: 1px solid black;
    padding-right: 1em;
}

.grey-text {
    color: #979797;
}

.white-text {
    color: #ffffff;
}
 

/* nav */



/* carusel */

.carusel {
    border-radius: 25px;
    height: 20em;
    background-image: url(../img/banner.jpg);
    background-position: center;
    background-size: cover;
}


.grey {
    background-color: #99989891;
    border-radius: 25px;
    height: 20em;
}

.text h2 {
    font-size: 1.2em;
    margin-top: 9em;
}

.text p {
    font-size: 0.8em;
    
}

/* carusel */



/* layout */

.layout{
    background-color:  #0086ff;
    height: 20em;
}

.row{
    height: 3em;
}

.column-left {
    width: 20%;
    height: 15em;
}

.column-right {
    width: 20%;
    height: 15em;
}

.column-mid {
    width: calc(60% - 2em);
    height: 15em;
}

/* layout */



/* footer */
.foot {
    background-color: #8801fe;
    height: 2em;
}

/* footer */